body {
  margin: 0;
}

.home {
  width: 100vw;
  height: 40px;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo {
  background-color: bisque;
  margin-right: auto;
  width: 120px;
  margin-left: 10px;
  display: flex;
  height: 30px;
}

.unit {
  background-color: bisque;
  float: right !important;
  width: 100px;
  display: flex;
  margin-left: auto;
  margin-right: 10px;
  height: 30px;
}

.space {
  color: white;
  margin-left: 10%;
}

.menu {
  width: 100vw;
  height: 40px;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.as {
  margin-right: 30px;
}